<div class="blog">
    <div class="blog__header">
        <h1 class="blog__heading">Discover the water</h1>
        <p class="blog__body">Take the journey of your life and embrace the seas.</p>
        <div class="blog__button"><a href="">Start My Journey Today</a></div>

        

    </div>
    <div class="sidebar">
        <div class="blog__info">
            <h1>Hang Gliding</h1>
            <p>Are you a fishing enthusiast? We offer one of the best fishing spots around the world.</p>
        </div>
        <div class="blog__info">
            <h1>Hang Gliding</h1>
            <p>Are you a fishing enthusiast? We offer one of the best fishing spots around the world.</p>
        </div>
        <div class="blog__info">
            <h1>Parasailling</h1>
            <p>Are you a fishing enthusiast? We offer one of the best fishing spots around the world.</p>
        </div>
    </div>
    
</div>

<div class="blog_rectangle-3"></div>

<section class="articles">
    <ul class="article-ul">
        <li>
            <a href="">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="" class="pagination">&lt; View Older Posts.</a>
</section>