@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: #fff;
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/img/blog-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1E1E1E;
}

.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 50px 50px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}



@media only screen and (min-width: 786px) {
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}



.header__logo {
    grid-area: logo;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
    
}

.header__journey{
    font-weight: bold;
    text-decoration: none;
}

.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: bold;
}


.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.blog{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(9, auto);  
    gap: 20px;
    padding: 150px 0; 
}

.blog__header{
    grid-area: 2 / 2 / 2 / 8;
}

.blog__header h1{
    font-size: 72px;
    padding: 0;
    font-weight: bold;
}

.blog__header p{
    font-size: 32px;
    width: 500px;
}

.sidebar{
    display: flex;
    grid-area: 2 / 8 / 7 / 13;
    background-color: rgba(0, 0, 0, 0.297); 
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 50px;
}

.blog__info{
    width: 350px;
    padding: 20px 20px;
}

.blog__info h1{
    font-size: 20px;
    font-weight: bold;
}
.blog__start {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 7  / 3 /4 /8;
    text-decoration: none;
    font-size: 24px;
    height: 150px;
    width: auto;
    color: inherit;
    transition: .5s;
    
}

.blog__start:hover{
    background-color: #fff;
    color: black;
}
.blog__info p{
    padding: 10px 0 ;
    font-size: 18px;
    font-weight: 200;
}

@media(max-width:780px){
    .sidebar {
        grid-area: 8 / 1 / 10 / 14  ;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    
    .blog__header h1{
        font-size: 32px;
        padding: 0;
        font-weight: bold;
    }
    
    .blog__header p{
        font-size: 18px;
        width: 300px;
    }

    .blog__info h1{
        font-size: 16px;
    }

    

    .blog__info p{
        font-size: 15px;
        width: 200px;
        padding: 10px 0;
        text-align: center;
    }

    .blog__info{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog__header{
        grid-area: 2 / 2 / 2 / 10;
    }

    .blog__start{
        font-size: 20px;
        grid-area: 7  / 4 / 4 / 13;
    }
}